<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello, World!</title>
  <link rel="stylesheet" href="static/App.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
  <div class="App">
    <nav class="navbar row sticky-top" style="background-color: powderblue;">
      <div class="col-12 col-md-3">
        <img src="https://assets.onecompiler.app/42ejjj4uw/42s3vmxkp/logo.webp" alt="logo" class="logo">
      </div>
      <div class="col-12 col-md-6 mt-2 mt-md-6">
        <form>
          <div class="input-group">
            <input type="text" id="search_field" placeholder="Search your favourite restaurant" class="form-control" />
            <div class="input-group-append">
              <button id="search_btn" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-md-3 mt-4 mt-md-0">
        <span class="ml-3" id="cart">Cart</span>
        <span class="ml-1" id="cart_count">0</span>
        <div class="dropdown d-inline ml-3">
          <figure class="avatar avatar-nav">
            <img src="https://assets.onecompiler.app/42ejjj4uw/42s3vmxkp/AMP-44_61fb8b8840826_if4vz9.jpg" class="rounded-circle" alt="Avatar"/>
          </figure>
          <span style="color: white; font-weight: bold;">Rahul</span>
        <!--</div>
        <button class="btn" id="login_btn">Login</button>
      </div> -->
    </nav>
{% block content %}
{% endblock %}
    <footer class="text-center mt-4">
        <p>FOOD DELIVERY APP IS USED TO DELIVER FOOD</p>
      </footer>
    </div>
  </body>
  </html>
  