{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 profile">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <figure class="avatar avatar-profile mb-4">
            <img
              class="rounded-circle figure-img img-fluid"
              src="https://assets.onecompiler.app/42ejjj4uw/42s3vmxkp/images.png"
              alt="Rahul"
              style="width: 150px; height: 150px; object-fit: cover;"
            />
          </figure>
          <h2 class="mb-3">Welcome, {{ profile.name }}!</h2>
          <a id="edit_profile" class="btn btn-primary mb-4" style="width: 100%;">
            Edit Profile
          </a>

          <h4 class="mt-4">Full Name:</h4>
          <p class="text-muted">{{ profile.name }}</p>

          <h4>Email Address:</h4>
          <p class="text-muted">{{ profile.email }}</p>
          <h4>phone_no:</h4>
          <p class="text-muted">{{ profile.phone_no}}</p>

          <h4>Joined On Date & Time:</h4>
          <p class="text-muted">{{ profile.date_of_joined }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
