{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div>
        <p class="NumOfRestro">
        {{resto_count}} <span class="Restro">Restaurants</span>
        </p>
        <hr />
    </div>

    <selection>
        <div class="sort mb-3">
            <button class="sort_veg btn btn-success p-3">Pure Veg</button>
            <button class="sort_rev btn btn-info p-3">Sort By Review</button>
            <button class="sort_rate btn btn-warning p-3">Sort By Ratings</button>
        </div>

        <!-- Put the 'row' div outside the loop -->
        <div class="row">
            {% for rests in restaurents %}
            
            
            
            <!-- Adjust the column size for the card layout -->
            <div class="col-sm-6 col-md-4 col-lg-3 my-3">  <!-- Adjust column size as needed -->
                <form action="{{ url_for('customers.menu', rest_id=rests.id) }}" method="POST">
                <button class="btn w-100">  <!-- Ensure the button takes up full width -->
                    <div class="card p-3 rounded">
                        <img src="https://assets.onecompiler.app/42ejjj4uw/42s2jnwh5/images.jpeg" alt="{{ rests.name }}" class="card-img-top" />
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ rests.name }}</h5>
                            <p class="rest_address">{{ rests.address }}</p>
                            <div class="rating-outer">
                                <div class="rating-inner"></div>
                                <span id="no_of_reviews">{{ rests.reviews }}</span>
                            </div>
                        </div>
                    </div>
                </button>
            </form>
            </div>
            
            {% endfor %}
        </div>  <!-- End of row div -->
    </selection>
</div>

{% endblock %}
